
/* ---------- ch3app1.css ---------- */

/* background button */
#background3_1 {
  color: black;
  font-size: 16px;
  font-weight: bold;
}

/* background text */
#pop_info3_1{
  color: black;
  font-size: 14px;
  font-weight: bold;
}

/* number missed text */
#miss3_1{
  color: black;
  font-size: 16px;
  font-weight: bold;
}

/* questions button */
#Q3_1{
  color: black;
  font-size: 16px;
  font-weight: bold;
}

/* individual question buttons */
#Q13_1, #Q23_1, #Q33_1, #Q43_1{
  color: black;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  padding: 10px;
}

/* hint and answer text */
#H1text3_1, #A1text3_1, #H2text3_1, #A2text3_1, #H3text3_1, #A3text3_1, #H4text3_1, #A4text3_1 {
  color: black;
  font-size: 16px;
  text-align: justify;
  padding: 10px;
}

/* END ch3app1.css */