
/* ---------- global.css ---------- */

/* ---------- Header ---------- */

/* dashboard header logo background color and border-right */
.skin-black .main-header>.logo {
  background-color: #222d32;
  border-right: 5px solid #dca909;
}

/* dashboard header logo hover background color */
.skin-black .main-header .logo:hover {
  background-color: #222d32;
}

/* dashboard header background color */
.skin-black .main-header .navbar {
  background-color: #222d32;
}

/* dashboard header border-bottom */
.main-header {
  border-bottom: 5px solid #dca909;
}

/* dashboard header logo text color */
.skin-black .main-header>.logo {
    color: #fdfeff;
}

/* dashboard header collapse button color */
.skin-black .main-header .navbar>.sidebar-toggle {
    color: #fff;
    border-right: 0;
}

/* ---------- Sidebar ---------- */

/* dashboard sidebar background color and border-right color*/
.skin-black .left-side, .skin-black .main-sidebar, .skin-black .wrapper {
  background-color: #222d32;
  border-right: 5px solid #dca909;
}

/* dashboard sidebar menu text color */
.skin-black .sidebar a {
    color: #ffffff;
}

/* dashboard sidebar menu text size */
.sidebar {
  font-size: 13px;
  margin: 1px;
}

/* dashbaord sidebar sub-menu padding, color, and font size */
.sidebar-menu .treeview-menu>li>a {
  padding: 5px 5px 15px 10px;
  color: #fffaec;
  font-size: 13px;
}

/* selected app text color */
.skin-black .treeview-menu>li.active>a, .skin-black .treeview-menu>li>a:hover {
  color: #dca909;
}

/* dashbaord sidebar menu wrap text */
.sidebar-menu > li {
    white-space: normal;
}

/* ---------- Body ---------- */

/* home page background color */
.content-wrapper,
.left-side {
  background-color : white;
}

/* overflow scrollbars */
.content{
  overflow-x: auto;
}

/* ---------- Boxes ---------- */

/* info box min-width */
.box-info {
  min-width: 1250px;
} 

/* primary box border */
.box.box-solid.box-primary {
  border:5px solid black;
} 

/* primary box header (green) */         
.box.box-solid.box-primary>.box-header {
  border-bottom: 3px solid black;
  background-color: #2eb469;
  color: white;
}

/* success box border */
.box.box-solid.box-success {
  border: 5px solid black;
} 

/* success box header (blue) */
.box.box-solid.box-success>.box-header {
  border-bottom: 3px solid black;
  background-color: #3c95af;
}

/* danger box border */
.box.box-solid.box-danger {
  border: 5px solid black;
}

/* danger box header (purple) */
.box.box-solid.box-danger>.box-header {
  border-bottom: 3px solid black;
  background-color: #8b4a8b;
}

/* warning box border */
.box.box-solid.box-warning {
  border: 5px solid black;
} 

/* warning box header (orange) */
.box.box-solid.box-warning>.box-header {
  border-bottom: 3px solid black;
  background-color: #dca909;
}

/* ---------- Input ---------- */

/* selectInput text color and border size */
.selectize-input {
  background-color: #3c95af;
  color: white;
  border: 4px solid black;
  height: 40px;
} 

/* selectInputs background */
.selectize-input.full {
  background-color: #3c95af;
}

/* slider input */
.irs-bar {
  width: 100%; 
  height: 15px; 
  border-top: 4px solid black; 
  border-bottom: 4px solid black;
  background: #3c95af; 
} .irs-bar-edge {
  border-bottom: 4px solid black; 
  border-top: 4px solid black; 
  border-left: 4px solid black; 
  background: #3c95af; 
  height: 15px; 
  width: 15px;
} .irs-line {
  border: 4px solid black; 
  border-radius: 10px;
  height: 15px;
} .irs-grid-text {
  font-family: 'arial'; 
  font-size: 16pt; 
  color: black;
  z-index: 1;
} .irs-single {
  color:black; 
  background:white; 
  font-size: 12pt; 
  top: -6px;
} .irs-slider {
  width: 20px; 
  height: 20px; 
  top: 22px;
}

/* numericInputs */
.form-control {
  background-color: #3c95af;
  color: white;
  border: 4px solid black;
  height: 40px;
}

/* ---------- Modal Box ---------- */

/* large box width */
.modal-lg {
  width: 80%;
}

/* small box width */
.modal-sm {
width: 65%;
}

/* ---------- Small Window Adjustments ---------- */

@media (max-width: 768px) {
  /* decrease min-width */
  .box-info {
    min-width: 500px;
  } 
  /* remove header border-right */
  .skin-black .main-header>.logo {
    border-right: 0;
  }
  /* remove sidebar border-right */
  .skin-black .left-side, .skin-black .main-sidebar, .skin-black .wrapper {
    border-right: 0;
  }
}

/* ---------- data table ---------- */

a {
  color: #b30000;
}

.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, 
.pagination>.active>span:hover, .pagination>.active>a:focus, 
.pagination>.active>span:focus {
  background-color: #b30000;
}

/* ---------- END global.css ---------- */
