
/* ch4app2.css */

/* multiplier */
#mult42 .form-control {
  background-color: #dca909;
}

/* BMean slider styling */
#adjust_BMean42 .irs-bar {
  background: #dca909; 
}
#adjust_BMean42 .irs-bar-edge {
  background: #dca909; 
}

/* BTotal slider */
#adjust_BTotal42 .irs-bar {
  background: #dca909; 
}
#adjust_BTotal42 .irs-bar-edge {
  background: #dca909; 
}

/* digits slider */
#digits42 .irs-bar {
  background: #dca909; 
}
#digits42 .irs-bar-edge {
  background: #dca909;
}