/* ch4app6.css */

/* multiplier */
#mult46 .form-control {
  background-color: #dca909;
}

/* digits slider styling */
#digits46 .irs-bar {
  background: #dca909; 
}
#digits46 .irs-bar-edge {
  background: #dca909; 
}

/* ch4app6.css */