
/* styling for ch4app3 */

/* multiplier */
#mult43 .form-control {
  background-color: #dca909;
}

/* digits slider styling */
#digits43 .irs-bar { 
  background: #dca909; 
}
#digits43 .irs-bar-edge {
  background: #dca909; 
}

/* confidence slider styling */

#conf43 .irs-bar {
  background: #dca909; 
}
#conf43 .irs-bar-edge {
  background: #dca909; 
}
  