/* ch4app5.css */

/* multiplier */
#mult45 .form-control {
  background-color: #dca909;
  color: white;
  border: 4px solid black;
  height: 40px;
}

/* digits slider styling */
#digits45 .irs-bar {
  background: #dca909; 
}
#digits45 .irs-bar-edge {
  background: #dca909; 
}
      
/* end ch4app5.css */