
/* ch4app1.css */

/* multiplier */
#mult41 .form-control {
  background-color: #dca909;
  color: white;
  border: 4px solid black;
  height: 40px;
}

/* digits slider */
#digits41 .irs-bar { 
  background: #dca909;
} 
#digits41 .irs-bar-edge {
  background: #dca909;
}

/* end ch4app1.css */