
/* ch4app4.css */

/* multiplier background color */
#mult44 .form-control {
  background-color: #dca909;
}

/* Bprop slider styling */
#adjust_Bprop44 .irs-bar {
  background: #dca909; 
}
#adjust_Bprop44 .irs-bar-edge {
  background: #dca909; 
}
      
/* Btotal slider styling */
#adjust_Btotal44 .irs-bar {
  background: #dca909; 
}
#adjust_Btotal44 .irs-bar-edge {
  background: #dca909; 
}

/* digits slider styling */

#digits44 .irs-bar {
  background: #dca909; 
}
#digits44 .irs-bar-edge {
  background: #dca909; 
}

/* end ch4app4.css */
