/* ch4app7.css */

/* multiplier */
#mult47 .form-control {
  background-color: #dca909;
}

/* digits */
#digits47 .irs-bar {
  background: #dca909; 
}
#digits47 .irs-bar-edge {
  background: #dca909; 
}