
/* ch4app4.css */

/* multiplier */
#mult54 .form-control {
  background-color: #dca909;
}

/* digits */
#digits54 .irs-bar {
  background: #dca909; 
}
#digits54 .irs-bar-edge {
  background: #dca909; 
}