
/* ch5app5.css */

/* digits */
#digits55 .irs-bar {
  background: #dca909; 
}
#digits55 .irs-bar-edge {
  background: #dca909; 
}

/* btotal */
#adjust_Btotal55 .irs-bar {
  background: #dca909; 
}
#adjust_Btotal55 .irs-bar-edge {
  background: #dca909; 
}
      
/* bprop */
#adjust_Bprop55 .irs-bar {
  background: #dca909; 
}
#adjust_Bprop55 .irs-bar-edge {
  background: #dca909; 
}
