
/* ch5app5.css */

/* digits */
#digits56 .irs-bar {
  background: #dca909; 
}
#digits56 .irs-bar-edge {
  background: #dca909; 
}

/* btotal */
#adjust_Btotal56 .irs-bar {
  background: #dca909; 
}
#adjust_Btotal56 .irs-bar-edge {
  background: #dca909; 
}
      
/* bprop */
#adjust_Bprop56 .irs-bar {
  background: #dca909; 
}
#adjust_Bprop56 .irs-bar-edge {
  background: #dca909; 
}
