
/* ch5app3.css */

/* bmean */
#select_Bmean53 .form-control {
  background-color: #3c95af;
}
/* btotal */
#select_Btotal53 .form-control {
  background-color: #3c95af;
}

/* digits */
#digits53 .irs-bar {
  background: #dca909; 
}
#digits53 .irs-bar-edge {
  background: #dca909; 
}

/* btotal slider */
#adjust_BTotal53 .irs-bar {
  background: #dca909; 
}
#adjust_BTotal53 .irs-bar-edge {
  background: #dca909; 
}

/* bmean slider styling */
#adjust_BMean53 .irs-bar {
  background: #dca909; 
}
#adjust_BMean53 .irs-bar-edge {
  background: #dca909; 
}
