
/* ch4app1.css */

/* digits */
#digits52 .irs-bar {
  background: #dca909; 
}
#digits52 .irs-bar-edge {
  background: #dca909; 
}

/* btotal */
#adjust_BTotal52 .irs-bar {
  background: #dca909; 
}
#adjust_BTotal52 .irs-bar-edge {
  background: #dca909; 
}
      
/* bmean */
#adjust_BMean52 .irs-bar {
  background: #dca909; 
}
#adjust_BMean52 .irs-bar-edge {
  background: #dca909; 
}
