
/* ch4app1.css */

/* multiplier */
#mult51 .form-control {
  background-color: #dca909;
}

/* digits */
#digits51 .irs-bar {
  background: #dca909; 
}
#digits51 .irs-bar-edge {
  background: #dca909; 
}